table {
    width: 100%;
  }
  @media only screen and (max-width:767px){
    mat-sidenav{
      width: 100% !important;
      max-height: 250px;
      position: fixed;
      top: 50px;
  }
  mat-sidenav-content{
    width: 100% !important;
    margin-left: 0px !important;
    margin-top: 237px;
  }
}

@media only screen and (min-width:768px){
  .start-test-button{
    position: fixed;
    top: 10px;
    right: 10px;
  }
}