<div class="test-component w-100">
    <div class="progress-bar-container">
        <div class="question-number">
            Question - {{currentNumber}}/20
        </div>
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    </div>
    <div class="question-container mt-3">
            <form [formGroup]="translationForm">
                    <mat-form-field 
                    appearance="outline" 
                    class="col-lg-12 mt-3 p-0">
                        <mat-label>Native Language Word</mat-label>
                        <input 
                            matInput 
                            required
                            formControlName="native_word"
                        />
                    </mat-form-field>
                    <mat-form-field 
                    appearance="outline" 
                    class="col-lg-12 p-0">
                        <mat-label>Foreign Language Word</mat-label>
                        <input 
                            matInput 
                            required
                            formControlName="submitted_answer"
                        />
                    </mat-form-field>
                    <button
                        color="primary"
                        mat-button
                        type="button" 
                        [disabled]="!translationForm.valid"
                        (click)="submitAnswer()"
                    >
                        Next
                    </button>
                </form>
    </div>
</div>